@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

:root {
    /*variables de colores*/
    --amarillo:#EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris_oscuro: #666;
    --Gris_claro: #ebebeb;
    --Verde: #39b54a;
    /*variables fuentes*/
    --fuente: 'Roboto', sans-serif;
    /*tamaños tipograficos*/
    --parrafo: 12px;
    --titulo: 24px;
    --precio: 18px;
    --descuento: 16px;
    --descripcion: 16px;
    
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fuente);
}

/*HEADER*/

header {
    background-color: var(--amarillo);
    padding: 25px 0;
}

header div.logo  {
    width: 125px;
    padding: 0px 30px 15px;
}

header div.busqueda {
    padding-left: 22px;
    padding-bottom: 18px;
    /*margin-left:15px;*/
}
header div input {
    width: 190px;
    height: 25px;
}
header div button {
    width: 25px;
    height: 25px;
}

header p {
    font-size: var(--parrafo);
    text-align: center;
    padding-bottom: 18px;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

header nav ul li a {
    font-size: var(--parrafo);
    
}
header nav ul.bottom-list {
    padding-top: 15px;
}
header nav ul.bottom-list i {
    padding-left: 5px;
}

header div.burger-menu {
    
    background-color: var(--Celeste);
    border-radius: 5px;
    color: white;
    width: 15px;
    padding: 8px;
    padding-left: 10px;
    margin: 25px auto 0;
    
}

/*MAIN*/

/*FOOTER*/

footer {
    padding: 50px 25px 25px;
    background-color: white;
}
footer p {
    font-size: var(--parrafo);
}
footer article {
    text-align: center;
    margin-bottom:  50px;
}
footer article i {
    font-size: 2em;
    color: var(--Celeste);
    margin-bottom: 10px;
}

footer span {
    font-size: var(--parrafo);
}